<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add product</title>

    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<header class="main-header">
    <nav class="main-header_nav">
        <ul class="main-header_item-list">
            <li class="main-header_list"><a class="active" href="/shop">shop</a></li>
            <li class="main-header_list"><a href="/admin/add-product">Add product</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>my products</h1>
    <p>list of products....</p>
</main>
</body>
</html>